---
const { label = 'Add' } = Astro.props;
---

<button
  type='submit'
  class='inline-flex justify-center px-4 py-2 font-medium text-white bg-amber-400 border border-transparent rounded-md shadow-sm hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black w-auto text-sm'
>
  {label}
</button>
