---
const { title } = Astro.props;
---

<script is:inline>
  document.querySelector('dialog').showModal();
  document.getElementById('phone-input').value = '';
</script>

<div class='fixed inset-0'>
  <div class='flex items-center justify-center h-screen'>
    <div
      class='bg-white rounded-lg max-w-md w-full p-6 space-y-2'
      @click.outside.capture="document.querySelector('dialog').close()"
    >
      <div>
        <slot />
      </div>
    </div>
  </div>
</div>
