---
export const partial = true;

import ButtonCancel from '@components/modals/ButtonCancel.astro';
import ButtonSubmit from '@components/modals/ButtonSubmit.astro';
import InputField from '@components/modals/InputField.astro';
import ModalLayout from '@components/modals/ModalLayout.astro';
import NumberInput from './NumberInput.astro';

const { quote } = Astro.props;

console.log('QUOTE 2: ', quote);
---

<ModalLayout id='fade-me-in'>
  <div class='text-amber-500 mb-4'>
    <svg
      xmlns='http://www.w3.org/2000/svg'
      class='h-12 w-12 mx-auto'
      fill='none'
      viewBox='0 0 24 24'
      stroke='currentColor'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z'></path>
    </svg>
  </div>
  <h3 class='text-2xl font-bold leading-6 text-left'>Finish Youre Quote</h3>
  <h3 class='text-lg font-medium text-gray-600 mb-4'>
    Enter tire details to help us customize your options
  </h3>
  <form
    class='space-y-6'
    hx-indicator='#spinner'
    hx-put={`/api/quote/${quote.id}`}
    x-data='{budgetValue:500}'
  >
    <div class='space-y-4'>
      <div class='mb-4'>
        <label class='block text-sm font-medium text-gray-700 mb-2'>
          What can we help you save money on?
        </label>
        <div class='flex space-x-4'>
          {
            ['Wheels', 'Tires', 'Both'].map((option) => (
              <label class='flex-1 flex items-center px-3 py-2 rounded-md cursor-pointer hover:bg-gray-100'>
                <input
                  type='radio'
                  name='service_type'
                  value={option.toLowerCase()}
                  class='h-4 w-4 quote-radio accent-amber-400'
                />
                <span class='ml-2 '>{option}</span>
              </label>
            ))
          }
        </div>
      </div>
      <div class='grid grid-cols-3 gap-4 mt-1'>
        <div>
          <label
            for='tire_width'
            class='block text-sm font-medium text-gray-700'>Tire Width</label
          >
          <NumberInput name='tire_width' placeholder='205' />
        </div>
        <div>
          <label
            for='tire_ratio'
            class='block text-sm font-medium text-gray-700'>Ratio</label
          >
          <NumberInput name='tire_ratio' placeholder='55' />
        </div>
        <div>
          <label
            for='tire_diameter'
            class='block text-sm font-medium text-gray-700'>Diameter</label
          >
          <NumberInput name='tire_diameter' placeholder='16' />
        </div>
      </div>

      <div>
        <label
          for='preferred_brand'
          class='block text-sm font-medium text-gray-700'
          >Preferred Tire Brand (Optional)</label
        >
        <select
          name='preferred_brand'
          id='preferred_brand'
          class='mt-1 block w-full pl-3 pr-10 py-2 text-base border border-gray-300 focus:outline-none focus:ring-yellow-500 focus:border-yellow-500 sm:text-sm rounded-md'
        >
          <option value=''>Select a brand</option>
          <option value='nitto'>Nitto</option>
          <option value='goodyear'>Goodyear</option>
          <option value='bridgestone'>Bridgestone</option>
          <option value='firestone'>Firestone</option>
          <option value='falken'>Falken</option>
          <option value='toyo'>Toyo</option>
          <option value='yokohama'>Yokohama</option>
          <option value='pirelli'>Pirelli</option>
          <option value='blackbear'>Blackbear</option>
          <option value='continental'>Continental</option>
          <option value='goodrich'>BF Goodrich</option>
          <!-- Add more brand options as needed -->
        </select>
      </div>
      <div class='mt-6'>
        <label
          for='budget'
          class='block text-sm font-medium text-gray-700 mb-2'
        >
          Budget - $<span x-text='budgetValue'></span>
        </label>
        <input
          type='range'
          id='budget'
          name='budget'
          min='0'
          max='1050'
          x-model='budgetValue'
          step='50'
          class='w-full h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer'
        />
        <div class='flex justify-between text-xs text-gray-600 mt-1'>
          <span>$0</span>
          <span id='budgetValue'> $500</span>
          <span>$1000+</span>
        </div>
      </div>
    </div>

    <p class='text-sm text-gray-500 italic'>
      Don't know? Hit skip and we'll reach out to you!
    </p>

    <div class='flex justify-center space-x-4'>
      <ButtonSubmit label='Customize My Quote' />
      <ButtonCancel />
    </div>
  </form>
</ModalLayout>
