---
import QuoteModal from '@components/modals/QuoteModal.astro';
import { newQuote } from '@data/pocketbase';

let quote = {};

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const phoneNumber = formData.get('phone-input') as string;
  quote = await newQuote(phoneNumber);
}
---

<div hx-target='dialog'>
  <QuoteModal quote={quote} />
</div>
