---
import BottomBar from '@components/BottomBar.astro';
import TopBar from '@components/TopBar.astro';
import '@src/site.css';

import SEO from '@components/SEO.astro';

export interface Props {
  seo: {
    title: string;
    description: string;
    image?: string;
    canonicalURL?: string;
  };
}

const { seo } = Astro.props;
---

<html lang='en'>
  <head>
    <link rel='sitemap' href='/sitemap.xml' />
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/go-go-logo.svg' />
    <meta name='viewport' content='width=device-width' />
    <SEO {...seo} />

    <script>
      import * as htmx from 'htmx.org';
      import Alpine from 'alpinejs';

      declare global {
        interface Window {
          htmx: typeof htmx;
          Alpine: any;
        }
      }

      window.Alpine = Alpine; //optional

      Alpine.start();
      htmx.process(document.body);
    </script>
  </head>
  <body hx-boost='true' class='' x-data>
    <TopBar />
    <dialog></dialog>
    <slot />
    <BottomBar />
  </body>
</html>
